@import './custom/reset';
@import './custom/variables';
@import './custom/grid';
@import "./custom/animation";

* {
  box-sizing: border-box;
}

html {
  font-size: $fontSize;
  font-family: $fontText;
  line-height: $lineHeight;
  background-color: $colorMain;
}

a {
  text-decoration: none;
}

@import "custom/RWD/desktopsMax1400px";
@import "custom/RWD/desktopsMax1100px";
@import "custom/RWD/desktopMax900px";
@import "custom/RWD/tablets";
@import "custom/RWD/tabletsNarrowMax600px";
@import "custom/RWD/mobileWide";
@import "custom/RWD/mobileNarrow";