@import './custom/reset';
@import './custom/variables';
@import './custom/grid';
@import "./custom/animation";

* {
  box-sizing: border-box;
}

html {
  font-size: $fontSize;
  font-family: $fontText;
  line-height: $lineHeight;
  background-color: $colorMain;
}

a {
  text-decoration: none;
}
