@media screen and (max-width: 900px) {
  .container {
    max-width: 700px;
  }
  header {
    height: 60px;

    section.container {
      h2 {
        font-size: 2em;
      }

      form {
        input {
          height: 25px;
          font-size: .8em;
        }

        button {
          height: 25px;
          font-size: .8em;

          &:nth-of-type(2) {
            height: 25px;
            right: 104px;
          }

          &:last-of-type {
            height: 25px;
            right: 52px;
          }
        }
        .explanation {
          padding: 4px;

          &:first-of-type {
            right: -9px;
            bottom: -37px;
          }

          &:nth-of-type(2) {
            right: 100px;
            bottom: -37px;
          }

          &:last-of-type {
            right: 10px;
            bottom: -37px;
          }


          &::after {
          }

        }
      }
    }
  }
  main {
    section.container {
      padding-top: 60px;

      .row {
        .big {

          .left {
            .leftUp {
              flex-wrap: wrap;
              justify-content: center;
              .leftUpLeft {
                margin: 10px 100px 0;
              }
              .leftUpMiddle {
                width: 45%;
              }
              .leftUpRight {
                width: 45%;
              }
            }
          }

          .right {
            padding-top: 140px;

            .rightTitle {

              .bannerTop {
                top: -150px;
                height: 60px;
                font-size: 2em;
              }

              .diceSmall {
                top: -150px;
                left: calc(50% - 230px);
                height: 60px;
                width: 60px;
                font-size: 2em;
              }
            }

            .rightUp {

              .banner {
                top: -76px;
                left: 20px;
                height: 60px;
                width: 250px;
                font-size: 2em;
              }
            }

            .rightDown {


              .banner {
                top: -76px;
                left: 20px;
                height: 60px;
                width: 250px;
                font-size: 2em;
              }
            }

            .game {
              flex: 0 0 250px;
              min-height: 250px;
            }
          }

          .cancel {

          }
        }
      }

      .rowStart {
        width: 95%;

        .start {
        }

        .noMatch {
          height: 90px;
        }

        .top3 {
          .dashboard {
            justify-content: center;

            .top3Title {
              position: static;
              height: 60px;
              top: 0;
              font-size: 2em;
              line-height: 2em;
              transform: none;
              animation: shake 2s alternate;
              margin-bottom: 25px;
            }
          }
        }
      }

      .rowKickstarter {
        width: 95%;

        .random {


          .dashboard {


            .randomTitle {
              height: 60px;
              font-size: 2em;
              line-height: 2em;
              left: -25px;
              top: 120px;

              &:hover {
                border-bottom: 5px black outset;
                width: 200px;
                transform: translateX(0px) translateY(30px);

                &::before {
                  width: 80px;
                  height: 80px;
                  animation: rollingDice2 linear infinite 3s;
                }
              }

              &:active {
                border-bottom: 0 black outset;
                box-shadow: 0 5px 0 black inset;
              }
            }
          }
        }

        .kickstarter {


          .dashboard {
            justify-content: center;

            .title {
              position: static;
              height: 60px;
              top: 0;
              font-size: 2em;
              line-height: 2em;
              transform: none;
              animation: shake 2s alternate;
              margin-bottom: 25px;
            }
          }
        }
      }
    }
  }

  footer {
    section.container {


      p {
        &:first-of-type {

        }

        &:nth-of-type(2) {
          a {
            i {
              padding: 0 10px;

            }
          }
        }

        &:last-of-type {
        }
      }
    }
  }
}